*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}

.mt{
    margin-top: 2rem;
}

.container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: white;
    font-size: 3rem;
}

.post{
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post_photo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_img{
    width: 50px;
    height: 50px;
    
}

.user{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.margin{
    padding:20px;
}